.git
.env
.DS_Store
*.log

frontend/node_modules
frontend/dist
frontend/.angular

backend/__pycache__
backend/**/*.pyc
backend/.pytest_cache
backend/htmlcov
backend/staticfiles
backend/media
backend/.env
backend/venv
backend/.venv
